.adsService {
  height: 600px;
  display: flex;
  align-items: center;
  height: 600px;
}

.adsService img {
  -webkit-box-shadow: 0 0 5px 5px #9cf2ff;
  box-shadow: 0 0 5px 5px #9cf2ff;
  outline: 2px solid #9cff63;
  outline-offset: 2px;
  height: 500px;
  /* border-radius: 15px;
  border: 2px dashed #ff4757; */
}

/* Media queries */

/* @media only screen and (min-width: 301px) and (max-width: 401px) {
  .adsService {
    width: 380px;
    margin: 20px 0 20px 20px;
    height: 140px;
  }

  .adsService img {
    width: 100%;
    height: 150px;

  }
}
@media only screen and (min-width: 401px) and (max-width: 501px) {
  .adsService {
    width: 450px;
    margin: 20px 0 20px 0;
    height: 140px;
  }

  .adsService img {
    width: 100%;
    height: 150px;

  }
}

@media only screen and (min-width: 501px) and (max-width: 601px) {
  .adsService {
    width: 550px;
    margin: 20px 0 20px 0;
    height: 140px;
  }

  .adsService img {
    width: 100%;
    height: 150px;

  }
}
 */

/* 
@media only screen and  (max-width: 1100px) {
  .adsService {
    height: 500px;
  }

  .adsService img {
    width: 150px;
    height: 400px;
  }
} */
/* 
@media only screen and  (max-width: 800px) {
  .adsService img {
    width: 130px;
    height: 350px;
  }
} */

/* @media only screen and (max-width: 600px) { */
  /* .adsService { */
    /* position: absolute; */
    /* order: 1; */
    /* width: 70%;
    height: 130px;
    margin: 0 20px 0 20px;
  }

  .adsService img {
    width: 100%;
    height: 100px;

  }
} */
/* 
@media only screen and (min-height: 701px) and (max-height: 801px) {
  .adsService {
    height: 170px;
  }
} */