:root {
  --borderItemsSize: 6px solid #00cec9;
  --backColorTic: #1e3799;
  --backColorToe: #ff4757;
  --gameWidthHeight: 350px;
}

.tictac__container {
  width: var(--gameWidthHeight);
  height: var(--gameWidthHeight);
}

.unOrderContainer {
  width: 350px;
  height: 350px;
  align-self: center;
  justify-self: center;
}

.tictac__container__unOrderList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
}

.modalGrade {
  width: 350px;
  height: 350px;
  position: absolute;
  background: transparent;
}

.listItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 32%;
  height: 32%;
  cursor: pointer;
}

.listItems:nth-child(1) {
  border: var(--borderItemsSize);
  border-left: none;
  border-top: none;
  margin-bottom: -20px;
}

.listItems:nth-child(2) {
  border: var(--borderItemsSize);
  border-top: none;
  margin-bottom: -20px;
}

.listItems:nth-child(3) {
  border: var(--borderItemsSize);
  border-right: none;
  border-top: none;
  margin-bottom: -20px;
}
.listItems:nth-child(4) {
  border: var(--borderItemsSize);
  border-left: none;
}

.listItems:nth-child(5) {
  border: var(--borderItemsSize);
}

.listItems:nth-child(6) {
  border: var(--borderItemsSize);
  border-right: none;
}

.listItems:nth-child(7) {
  border: var(--borderItemsSize);
  border-left: none;
  border-bottom: none;
  margin-top: -20px;
}

.listItems:nth-child(8) {
  border: var(--borderItemsSize);
  border-bottom: none;
  margin-top: -20px;
}

.listItems:nth-child(9) {
  border: var(--borderItemsSize);
  border-right: none;
  border-bottom: none;
  margin-top: -20px;
}

.tic {
  width: 10%;
  height: 80%;
  border-radius: 35%;
  background-color: var(--backColorTic);
  transform: rotate(45deg);
}

.tac {
  width: 95%;
  height: 100%;
  border-radius: 35%;
  background-color: var(--backColorTic);
  transform: rotate(90deg);
}

.toe {
  width: 75%;
  height: 75%;
  border: 12px solid var(--backColorToe);
  border-radius: 50%;
}

.modalBox {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
}

.modalBtn {
  width: 150px;
  height: 40px;
  background-color: #4add36ce;
  outline: none;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  color: #ff0015;
  cursor: pointer;

  animation: btnChanger 2.5s linear infinite alternate;
}

.modalHeading {
  display: block;
  width: 200px;
  text-align: center;
  font-size: 23px;
  color: #222;
  margin: 15px 0 0 0;
}

.disNone {
  display: none;
}

/* Animation */

@keyframes btnChanger {
  0% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.95);
  }
}

/* Media queries */
@media only screen and (max-width: 1100px) and (max-height: 600px) {
  .tictac__container {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
  }
  .unOrderContainer {
    width: 250px;
    height: 250px;
  }

  .modalBox {
    width: 250px;
    position: absolute;
  }
  .modalGrade {
    width: 250px;
    height: 250px;
  }

  .toe {
    border: 10px solid var(--backColorToe);
  }

  .modalBtn {
    margin-left: 18px;
  }
}

@media only screen and (max-width: 800px) and (max-height: 600px) {
  .tictac__container {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
  }

  .modalBox {
    width: 250px;
  }

  .toe {
    border: 8px solid var(--backColorToe);
  }
}

@media only screen and (max-width: 600px) and (max-height: 800px) {

  .modalBox {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 50px;
    height: 50px;
    border: none;
  }
  
  .modalBtn {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: red;
  }

  .modalHeading {
    font-size: 10px;
    padding: 10px 0 0 0;
  }
}