.scores__container {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  height: 100px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

.scores__box p {
  font-size: 20px;
  border-bottom: 3px solid #222;
  padding-bottom: 15px;
  width: 110px;
}

.scores__box h2 {
  margin-top: 10px;
}

/* Media queries */
@media only screen and (min-width: 301px) and (max-width: 401px) {
  .scores__container {
    position: absolute;
    width: 300px;
    margin: 20px 0 0 20px;
    padding: 0;
  }
  .scores__box p {
    font-size: 20px;
    width: 100px;
  }
  .scores__box h2 {
   font-size: 18px;
  }
}
@media only screen and (max-width: 350px) {
  .scores__container {
    position: absolute;
    width: 250px;
    margin: 20px 0 0 10px;
    padding: 0;
  }
  .scores__box p {
    font-size: 20px;
    width: 90px;
  }
  .scores__box h2 {
   font-size: 18px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 501px) {
  .scores__container {
    margin: 20px 0 0 0;
    padding: 0;
  }
  .scores__box p {
    font-size: 23px;
    width: 118px;
  }
  .scores__box h2 {
   font-size: 24px;
  }
}

