* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bdbdbd;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}