* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f2f6;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body:after {
  --border-width: 3px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* top: calc(-1 * var(--border-width)); */
  /* left: calc(-1 * var(--border-width)); */
  z-index: -1;
  /* width: calc(100% + var(--border-width) * 2); */
  /* height: calc(100% + var(--border-width) * 2); */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  /* border-radius: calc(2 * var(--border-width)); */
  animation: moveGradient 4s alternate infinite;
  height: 100%;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.game__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 530px;
}




/* Media queries */
 
@media only screen and (min-width: 401px) and (max-width: 501px) {
  .container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }
  .container:after {
    width: 100vw;
  }
  .game__container {
    width: 350px;
    height: 500px;
    justify-content: flex-start;
    margin: 0;
  }
}

@media only screen and (min-width: 701px) and (max-width: 801px) {
  .container {
    height: 100vh;
  }
  .container:after {
    width: 100vw;
    height: 100vh;
  }
  .game__container {
    width: 350px;
    height: 550px;
    justify-content: flex-start;
    margin: 0;
  }
}

@media only screen and (min-width: 801px) and (max-width: 901px) {
  .container {
    height: 100vh;
  }
  .container:after {
    width: 100vw;
    height: 100vh;
  }
  .game__container {
    width: 350px;
    height: 550px;
    justify-content: flex-start;
    margin: 0;
  } 
}

@media only screen and (max-height: 601px) {
  .container {
    height: 100vh;
  }
  .container:after {
    height: 700px;
  }

  .game__container {
    height: 350px;
  } 

}

@media only screen and (max-height: 701px) {
  .container {
    height: 100vh;
  }
  .container:after {
    height: 800px;
  }
  .game__container {
    height: 400px;
  }

}

@media only screen and (max-height: 801px) {
  .container {
    height: 100vh;
  }
  .container:after {
    height: 100vh;
  }

  .game__container {
    height: 500px;
  }

}

@media only screen and (max-height: 901px) {
  .container {
    height: 100vh;
  }
  .container:after {
    height: 100vh;
  }

  .game__container {
    height: 600px;
  }

}